
body{
	background-color:#0b1722;
	color:#666666;
	font-family:"Crimson Text", serif;
}

h1 {width: 100%;
	background-color: rgb(24, 49, 90);
	color: #FFFFFF;
	height: 100px;	
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 3000;
	text-align: center;
	font-size: 2.5em;
	padding-top: 38px;
}	
h2{
	color:#0b1722;
}
	
h3{
	color:#000033;
}

#footer{
	font-size:.70em;
	font-style: italic;
	text-align: center;
	padding:10px;
}
#wrapper{width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	font-family: Arial;	

}
#content{
	width:80%;
	top: 131px;
	position: relative;
	padding: 30px 20px 50px 20px;
	background-color: #FFFFFF;
	margin-right:auto;
	margin-left:auto;
}
#altContent{
	width:80%;
	top: 131px;
	position: relative;
	padding: 30px 20px 50px 20px;
	background-color: #FFFFFF;
	margin-right:auto;
	margin-left:auto;
}

#content img{
	float:left;
	padding-right: 20px;
}

#content ul{
	list-style-position: inside;
	font-size: .9em;
}

table{border: 1px solid #000000;
	border-spacing: 0;
	color: black;
}

td, th{
	border: 1px solid #000000;
	text-align: center;
	color: black;
	padding: 5px;
}
th {background-color: rgb(24, 49, 90);
	color: #FFFFFF;
	font-weight: bold;}

/*Styles input elements within a class called choice that is used around the checkbox and radio buttons*/
.choice input{
	width:10%;
	display:inline-block;
	color:black;
}

/*Styles label elements within a class called choice that is used around the checkbox and radio buttons*/
.choice label{
	color:black;
	display:inline-block; 
	width: 35%;
}
.login label {float: left;
	display: block;
	width: 150px;}
.login input {display: block;}
.login {width: 40%;}
.home {display: block;
	text-align: center;
}
.icon {text-align: center;
	padding: 10px;
	list-style-type: none;
	margin: 0px auto;}
.icon li{
	list-style-type: none;
	display: inline-block;
	border: 1px solid #0b1722;
	width: 200px;
	height: 180px;}
.icon a {text-decoration: none;}
footer {text-align: center;
	clear: both;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	margin-top: 20px;}
#buttons{
    position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: center;
}
#survey {border: none;}
#survey td{border: none;}
